.r_input{
    border:0px;
    color: black;
    font-weight: bold;
    border:0px;
    width: 250px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5px 4px 2.5px 8px;
}
.r_homepagecontainer{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 90px;
}
.rsub_homepagecontainer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
}
.r_homepage{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.sub_rhomepage{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border:2px solid #c9cace;
    width: 200px;
    height: 26px;
    padding: 2.5px 4px 2.5px 8px;
}
.sub_rhomepage:hover{
    cursor: text;
    border: 2px solid blue;
}
.sub_rhomepagebtn button{
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.sub_rhomepagebtn button:hover{
    cursor: pointer;
    background-color: darkblue;
}
.rrsubhome{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 900px;    
}
.rhomepage_2{
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border:2px solid #c9cace;

}
.rhomepage_2:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.r_public{
    display: flex;
    align-items: center;
    gap: 5px;
}
