.g_content1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.g_content1 p{
    margin-right: 481px;
}
.Gtab_container{
    display: flex;
    border: 1px solid #8993a5;
    margin-top: 51px;

}
.g_content{
    width: 890px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px;
}
.g_content1 h2{
  font-size: 1.286rem;
  font-weight: 500;
  color: black;
  margin-right:750px;
}
.gg_main{
    display: flex;
    align-items: left;
}
.gg_{
    display: flex;
    gap: 10px;
    align-items:center;
    margin-right:181px;
    color: black;
}
.gga_{
    display: flex;
    gap: 11px;
    align-items:center;
    margin-right:361px;
    color: black;
}
.gg_ span{
    color:green ;
}
.g_input{
    display: flex;
    align-items:center ;
    width:601px;
    border:0px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8993a5;
}
.ga_input{
    display: flex;
    align-items:center ;
    width:400px;
    border:0px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #8993a5;
}
.g_btn button{
    width:200px;
    background-color: rgb(29, 99, 237);
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.g_btn button:hover{
    cursor: pointer;
    background-color: darkblue;
}
.ga_btn button:hover{
    cursor: pointer;
    background-color: darkblue;
}
.ga_btn button{
    width:150px;
    background-color: rgb(29, 99, 237);
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-left:10px;
}