/* css for setting tab in dashboard  in a docker clone*/

.s_card1{
    display: flex;
    flex-direction: column;
    width: 151px;
    padding:20px;
    gap: 11px;
    margin-left: 100px;
}
.s_card1 button{
    border: none;
    font-size:19px;
    display: flex;
}
.s_card1 button:hover{
    cursor: pointer;
}
.settingtabs_container{
    display: flex;
    gap: 60px;
    margin-top: 50px;

}
.active{
    color:blue;

}
.active:hover{
    color:black;

}
