.explore_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 300px;
    margin-top: 50px;
    flex-direction: column;
}
.Explore_main{
    display: flex;
    gap: 60px;
}
.input_checkbox{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 20px;
}
.input_p{
    display: flex;
    gap: 20px;
    border:none;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.input_p div{
    gap: 20px;
    display: flex;
}
.ebtn_div{
    display: flex;
    align-items: center;
    justify-content: center;
}