.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -35px;
  padding-left: 10px;
  padding-right: 20px;
}

.navbar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  flex: 1;
}
.navbar_menu li {
  list-style: none;
}
.navbar_menu li a {
  text-decoration: none;
  color: #505968;
  font-weight: 600;
  font-size: 16px;
}
.action-btn {
  background-color:#1d63ed;
  color: white;
  border: none;
  border-radius: 5px;
  width: 130px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
  margin-left: 5px;
}
.action-btn1 {
  background-color:white;
  color: black;
  border:2px solid #505968;
  border-radius: 5px;
  width: 130px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
  margin-left: 5px;
}
.action-btn1:hover{
  background-color: rgb(224, 220, 220);
}

.action-btn:hover {
  cursor: pointer;
  background-color:darkblue;
}

.mobile-menu {
  display: none;
  background-color:white;
  color: black;
  position: absolute;
  top:80px;
  height: 20rem;
  border: 2px solid black;
  left: 0;
  width: 100%;
}
.mobile-menu li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.mobile-menu li {
  list-style: none;
}
.mobile-menu li a {
  text-decoration: none;
  color: #505968;
  font-weight: 600;
  font-size: 16px;
}

.toggle-icon {
  display: none;
  color: blue;
}
.developer-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top:75%;
  background-color: #ffffff;
  color: black;
}
.product-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top:70%;
  right:60%;
  background-color: #ffffff;
  color: black;
}
.product-menu1{
  height: 15rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-menu li a{
  text-decoration: none;
  color: #505968;
  font-weight: 600;
  font-size: 16px;
}
/* responsive  css style for mobile application */

@media (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .mobile-menu.show {
    display: block;
  }
  .mobile-menu.hidden {
    display: none;
  }
}
