.nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  flex: 1;
}
.navbar_menu li {
  list-style: none;
}
.navbar_menu li a {
  text-decoration: none;
  color: #505968;
  font-weight: 600;
  font-size: 16px;
}
.action-btn {
  background-color: #505968;
  color: white;
  border: none;
  border-radius: 5px;
  width: 140px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
}
.action-btn:hover {
  cursor: pointer;
  background-color: #abb8c3;
}

.mobile-menu {
  display: none;
  background-color: rgb(53, 53, 251);
  color: white;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.mobile-menu li {
  list-style: none;
}
.mobile-menu li a {
  text-decoration: none;
  color: #505968;
  font-weight: 600;
  font-size: 16px;
}

.toggle-icon {
  display: none;
}
/* responsive  css style */

@media (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .mobile-menu.show {
    display: block;
  }
  .mobile-menu.hide {
    display: none;
  }
}
