.sibtn2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:450px;
    height: 40px;
    border-radius: 3px;
    padding:10px;
    border:2px solid #c9cace;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.signup_container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hr{
    color: #c9cace;
}
.sibtn2:hover{
    cursor: pointer;
    background-color:#c9cace;
    color: white;
}
.signup_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #c9cace;
    width: 500px;
    border: none;
}
  .signup_container3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s_input{
    display: flex;
    align-items: center;
    justify-content: center;
    width:450px;
    height: 40px;
    border-radius: 3px;
    padding:10px;
    border:2px solid #c9cace;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
    margin-bottom: 10px; 
}
.sp{
    margin: 0px;
    font-weight: bold;
  font-size: 0.86rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.333;
  font-family: "Roboto", system-ui, sans-serif;
}
.sbtn1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:450px;
    height: 40px;
    border-radius: 3px;
    padding:10px;
    border:none;
    background-color:#c9cace;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(151, 147, 147);
    margin-bottom: 10px;   
}
.sbtn2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    padding: 10px;
    width: 450px;
    font-size: 16px;
    font-weight: 100;
    background-color: white;
    border: none;
}
.sbtn2:hover{
    background-color:#f0f1f8 ;
    cursor: pointer;
    
}