
.dashboardheader_container{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    border: 2px solid blue;
    background-color: blue;
}
.dashhead{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: blue;
}
.dcontainer_1  span{
    color:rgb(212, 206, 206);
    background-color: blue;
    font-size: 20px;
}
.dcontainer_1 h1{
    background-color: blue;
    color: white;
}
.dashboard_links{
    margin-left: 40px;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.dashboard_links:hover{
    cursor: pointer;
    color: rgb(239, 231, 231);
}
.d_links{
    background-color: blue;
}
.dashboard_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: blue;

}
.d_btn1{
    border: 2px solid white;
    padding:8px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(255, 244, 220);
    color: rgb(169, 71, 15);

}
.d_btn1:hover{
  color: white;
  background-color: rgb(169, 71, 15);
  border: 2px solid white;
}
.fingerprint_image{
    height: 40px;
    width: 40px;
    background: transparent;
    background-color:blue;
}
.d_btn2{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: blue;
    position: relative;
}
.show-submenu{
    
    position: absolute;
    top:100%;
    background-color: #ffffff;
    color: black;
}
.dropdown_links{
    margin-top: 20px;
    text-decoration: none;
    background-color: white;
}
.show-submenu.is-visible{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: left;
    gap:10px;
    flex-direction: column;
    border: 2px solid #c9cace;
    text-align: left;
    opacity: 1;
    padding:10px;
    margin-top:16px;
    border-radius: 4px;
}
.show-submenu li a {
    color:rgb(81, 79, 79);
    text-align:center;
}
.pbtn{
    background-color: blue;
    border: none;
    color: white;
}
.dh_link{
    background-color: blue;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
