
.dashboardheader_container{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;
}
.dashhead{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: blue;
}
.dcontainer_1  span{
    color:rgb(212, 206, 206);
    background-color: blue;
    font-size: 20px;
}
.dcontainer_1 h1{
    background-color: blue;
    color: white;
}
.dashboard_links{
    margin-left: 40px;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.dashboard_links:hover{
    cursor: pointer;
    color: rgb(239, 231, 231);
}
.d_links{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: blue;

}
.d_btn1{
    border: 2px solid white;
    padding:8px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(255, 244, 220);
    color: rgb(169, 71, 15);

}
.d_btn1:hover{
  color: white;
  background-color: rgb(169, 71, 15);
  border: 2px solid white;
}
.fingerprint_image{
    height: 40px;
    width: 40px;
    background: transparent;
    background-color:blue;
}
.d_btn2{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: blue;
    position: relative;
}
.show-submenu{
    
    position: absolute;
    top:100%;
    background-color: #ffffff;
    color: black;
}
.dropdown_links{
    margin-top: 20px;
    text-decoration: none;
    background-color: white;
}
.show-submenu.is-visible{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: left;
    gap:10px;
    flex-direction: column;
    border: 2px solid #c9cace;
    text-align: left;
    opacity: 1;
    padding:10px;
    margin-top:16px;
    border-radius: 4px;
}
.show-submenu li a {
    color:rgb(81, 79, 79);
    text-align:center;
}
.pbtn{
    background-color: blue;
    border: none;
    color: white;
}
.dh_link{
    background-color: blue;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.dmobile-menu {
    display: none;
    background-color:white;
    color: black;
    position: absolute;
    top:80px;
    height: 20rem;
    border: 2px solid #c9cace;
    left: 0;
    opacity:1;
    width: 100%;
  }
  .dmobile-menu li {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .dmobile-menu li a{
  text-decoration: none;
  color: #505968;
  font-weight: 600;
  font-size: 16px;
  }
  .dashboard_mobileicon{
    display: none;
    color: white;
  }

/* Responsive css for mobile view  application*/

@media(max-width:768px){

   .dashhead{
    display: none;
   }
   .dashboard_buttons{
    display: none;
   }
    .dashboard_mobileicon{
        display: block;
    }
    .dmobile-menu.visible {
        display: block;

      }
      .dmobile-menu.hidden {
        display: none;
      }
    }
