.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main1 h1{
    display: block;
    text-align: center;
    font-size: clamp(32px,7vw,100px);
    background: linear-gradient(90deg,#0c2c28 0,#3ba08d 100%);
    background-clip:text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1.25px;
    line-height: 1.1em;
    font-weight: 800;
    margin-top: 10px;
}
.main2 h3{
    box-sizing: border-box;
    color: #505968;
    font-size:25px;
    margin-top:3px;
}
.cbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cbtn button{
    width: 290px;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #2e7f74;
    border-color: #2e7f74 !important;
    font-size:18px;
    padding:18px 23px;
    margin-top: 20px;
    line-height: 1;
}
.cbtn button:hover{
    background-color:#21564f ;
    cursor: pointer;
}