
.container9 h1{
    font-weight: 700;
    font-size: 56px;
    color: #000000 !important;
    line-height: 1.2em;
    margin: auto;
    letter-spacing: -0.5px;
    font-family:"Poppins",sans-serif;
    margin-top: -10px;
  }
  .container99{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;

  
  }
  .container9{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .container9 h3 {
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    background-clip: border-box;
    font-size: 24px;
    background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-align: left;

}
.container9 p {
    font-size: 20px;
}
.container9 a{
    color: blue;
    font-size: 20px;
    margin-right: 10px;
    text-align: left;

}
.container9 a:hover{
    cursor: pointer;
    text-decoration:underline;
}
 .img1  img{
    height:347px;
    width:304px; 
 } 
.img1{
    display: flex;
}
.sub_container9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub_container9 h4 {
    font-size: 30px;
    font-weight:400;
}
.sub_container9 p{
    margin-top:-15px;
}