.b_card1{
    display:flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
    width: 300px;
    padding: 10px;

}
.billingcard_container{
    margin-right: 50px;
}

.b_card1 img{
    height: 40px;
    width: 40px;
}
.b_card1 p{
    font-size:16px;
    color: black;
}
.b_card1 h2{
    font-size:17px;
    color: black;
    font-weight: bolder;
}
.b_subcard1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
}
.b_card2container{
    border:1px solid #c9cace;
    width: 900px;
    padding:20px;
    display: flex;
    justify-content: space-between;
    margin-left:100px;
    margin-top: 50px;
    background-color: white;
}
.b_card2container:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.b_card2{
    display: flex;
    flex-direction: column;
}
.b_card2 h2{
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
}
.b_card2 p{
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.429;
  font-family: "Roboto", system-ui, sans-serif;
  font-size: 18px;
  color: rgb(57, 63, 73);
}
.b_card2btn button{
padding: 8px 16px;
background-color: rgb(29, 99, 237);
width:100px;
color: white;
font-size: 14px;
font-weight:600;
border: none;
border-radius: 4px;
}
.b_card2btn button:hover{
    cursor: pointer;
    background-color: darkblue;
}
.upgradeui_link{
    color: white;
    text-decoration: none;
    background-color: rgb(29, 99, 237);
}
.upgradeui_link:hover{
    cursor: pointer;
    background-color: darkblue;
}