.up_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.up_header h1{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.143;
}
.up_header p{
  font-size: 1.143rem;
  font-weight: 500;
  letter-spacing: 0px;
  margin-top:-5px;
  line-height: 1.25;
  font-family: "Roboto", system-ui, sans-serif;
  color: rgb(103, 114, 133);
}
.up_cardmain{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}